<web-app>

    <servlet>
        <servlet-name>storefront</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/storefront-servlet.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>storefront</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>